.currentSelection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.headline {
    user-select: none;
    flex: 1 1 100%;
    font-weight: bold;
    line-height: var(--theme-spacing-GoldenUnit);
}

.label {
}

.label svg {
    margin-right: var(--theme-spacing-Half);
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    gap: var(--theme-spacing-Quarter);
    padding: var(--theme-spacing-Quarter);
}

.breadcrumb button {
    background-color: var(--theme-colors-alternatingBackground);
    color: var(--theme-colors-ContrastBrightest);
    overflow: hidden;
    display: block;
    text-overflow-ellipsis: ellipsis;
    flex: 0 0 auto;
    border: none;
}

.breadcrumb button:hover {
    background-color: var(--theme-colors-PrimaryBlue);
}
