.dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--theme-spacing-GoldenUnit, 40px);
    border-width: 2px;
    border-radius: 2px;
    border-color: var(--theme-colors-disabled, #3f3f3f);
    border-style: dashed;
    background-color: var(--theme-colors-alternatingBackground, #3f3f3f);
    color: var(--theme-colors-text, #999);
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: border .24s ease-in-out;
}

.dropzone p {
    margin: 0;
    line-height: 1.6;
}

.dropzone--active {
    border-color: var(--theme-colors-PrimaryBlue, #00adee);
}

.dropzone--accept {
    border-color: var(--theme-colors-Success, #00a338);
}

.dropzone--reject {
    border-color: var(--theme-colors-Error, #ff460d);
}
