.assetCollectionTree {
    border: 1px solid var(--theme-colors-border);
}
.headline {
    padding: 0 var(--theme-spacing-Full);
}
.toolbar {
    border-top: 1px solid var(--theme-colors-border);
}
.tree {
    border-top: 1px solid var(--theme-colors-border);
}
