.searchBox {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.searchBox__inputWrapper {
    flex: 1;
}

.searchBox__inputWrapper > input {
    width: 100%;
}

.searchBox__searchButton {

}

.searchBox__clearButton {

}
