#
# System files
#
.DS_store

#
# Application & development dependencies.
#
node_modules
.yarn/cache
.yarn/install-state.gz

#
# Compiled assets.
#
.cache
Resources/Private/JavaScript/dev-server/dist
Resources/Public
yarn-error.log

#
# editors / IDEs
#
.vscode/
.idea/
