parameters:
    level: 5
    phpVersion: 80300
    paths:
        - Classes
        - Tests
    excludePaths:
        # Only runs when the optional Neos.MetaData package is installed, which is not in this
        # toolchain. Its classes are unknown to PHPStan here.
        - Tests/Functional/GraphQL/MetadataCapabilitiesTest.php
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+Repository::findBy[a-zA-Z]+\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+Repository::findOneBy[a-zA-Z]+\(\)#'
        - '#Constant FLOW_PATH_DATA not found.#'
    scanDirectories:
        - Packages/Framework/Neos.Flow/Tests
