parameters:
    level: 3
    phpVersion: 80300
    paths:
        - Classes
        - Tests
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+Repository::findBy[a-zA-Z]+\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+Repository::findOneBy[a-zA-Z]+\(\)#'
        - '#Constant FLOW_PATH_DATA not found.#'
    scanDirectories:
        - Packages/Framework/Neos.Flow/Tests
