.iconStack {
    position: relative;
}

.iconStack svg:nth-child(2) {
    position: absolute;
    bottom: -1px;
    right: -2px;
    max-width: 80%;
    max-height: 80%;
    color: var(--theme-colors-star);
    filter: drop-shadow(0px -1px #aa6600);
}
