.variantContainer {
    background-color: var(--theme-colors-assetBackground);
}

.picture {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    background-image: repeating-linear-gradient(45deg, #999999 25%, transparent 25%, transparent 75%, #999999 75%, #999999), repeating-linear-gradient(45deg, #999999 25%, #e5e5f7 25%, #e5e5f7 75%, #999999 75%, #999999);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--theme-spacing-Half);
    background-color: var(--theme-colors-captionBackground);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: var(--theme-size-sidebarWidth);
}

.info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.variantSizes {
    font-size: var(--theme-fontSize-small);
}
