.editMetadataScreen {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: auto;
    max-width: 800px;
    max-height: 90vh;
    z-index: 99999;
    margin: auto;
    padding: var(--defaultMargin, var(--spacing-Full));
    overflow: auto;
    color: var(--textOnGray, var(--colors-ContrastBrightest));
    background-color: var(--grayDark, var(--colors-ContrastDarker));
    border: 2px solid var(--grayLight, var(--colors-ContrastDark));
    box-shadow: 0 20px 40px #0006;

    iframe {
        border: none;
        width: 100%;
        min-height: 200px;
    }
}

.editMetadataScreen::backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    padding: var(--defaultMargin, var(--spacing-Full));
}
