.editArea {
    padding: var(--theme-spacing-Full);
}

.filenameInput {
    flex: 1 1 100%;
}

.label {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: var(--theme-spacing-Half) 0;
}

.label + label {
    margin-top: var(--theme-spacing-Full);
}
