.metaData {}
.metaData dl dt {
    background-color: var(--theme-colors-alternatingBackground);
    font-weight: bold;
    color: white;
    padding: var(--theme-spacing-Half) var(--theme-spacing-Half) 0;
}
.metaData dl dd {
    background-color: var(--theme-colors-alternatingBackground);
    margin-bottom: 1px;
    padding: var(--theme-spacing-Half);
    color: var(--theme-colors-inactive);
}

.metaDataPanel {
}

.metaDataPanelHeader {
}

.metaDataPanelHeader h2 {
    padding: 0;
}

.metaDataPanelHeader button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metaDataPanelContents {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: var(--theme-spacing-Full);
}
