.resourceInspector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--theme-spacing-Half);
}

.resourcePanel {
    width: stretch;
}

.resourcePanelHeader {
}

.resourcePanelHeader h2 {
    padding: 0;
}

.resourcePanelHeader button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resourcePanelContents {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: var(--theme-spacing-Full);
}
