.menuItem {
    background-color: var(--colors-ContrastDarkest);
    border-top: 1px solid var(--colors-ContrastDarker);
    display: flex !important;
    align-items: center;
    gap: var(--theme-spacing-Half);
    padding: var(--theme-spacing-Half) var(--theme-spacing-Full);
    cursor: pointer;
    color: white;
    list-style: none;
}

.menuItem:hover {
    background: var(--colors-PrimaryBlue);
    color: white !important;
}

.menuItem--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.menuItem a,
.menuItem a:hover,
.menuItem a:visited {
    display: flex;
    gap: var(--theme-spacing-Half);
    color: inherit;
    text-decoration: none;
}

.menuItem a span,
.menuItem a span:hover,
.menuItem a span:visited {
    color: white;
}
