.tasks {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-Half);
}

.dropdownHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--colors-ContrastDark);
    padding: 0 14px !important;
    border-radius: 0;
}

.dropdownToggleIcon {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.dropdownContents {
    background-color: var(--colors-ContrastDark);
    padding: 2px !important;
    min-width: 100%;
}
