.listViewItem {
    background-color: var(--theme-colors-mainBackground);
}

.listViewItem:nth-of-type(2n) {
    background-color: var(--theme-colors-alternatingBackground);
}

.listViewItem:hover {
    color: var(--theme-colors-PrimaryBlueHover);
}

.selected {
    box-shadow: inset 3px 0 0 var(--theme-colors-PrimaryBlue);
}

.checkboxColumn {
    width: 1px;
    padding: 0 var(--theme-spacing-Half);
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.checkboxColumn :global(.neos-checkbox) span {
    margin-right: 0 !important;
}

.checkboxColumn :global(.neos-checkbox):has(input:focus) {
    opacity: 1;
    outline: 1px solid #00adee;
}

.checkboxColumn label {
    pointer-events: none;
}

.checkboxColumn :global(.neos-checkbox) {
    opacity: 0;
}

.listViewItem:hover .checkboxColumn :global(.neos-checkbox),
.checkboxColumn :global(.neos-checkbox:has(input:checked)) {
    opacity: 1;
}

.textColumn {
    padding: 0 var(--theme-spacing-Half);
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    width: 1px;
}

.textColumn > * {
    vertical-align: middle;
}

.previewColumn {
    min-width: var(--theme-spacing-GoldenUnit);
    width: var(--theme-spacing-GoldenUnit);
    cursor: pointer;
    user-select: none;
}

.previewColumnFirst {
    padding-left: var(--theme-spacing-Half);
}

.previewColumn picture {
    display: block;
    width: 100%;
    height: var(--theme-spacing-GoldenUnit);
    text-align: center;
}

.previewColumn picture img, .previewColumn picture svg {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.labelColumn {
    composes: textColumn;
    display: table;
    table-layout: fixed;
    width: 100%;
    line-height: var(--theme-spacing-GoldenUnit);
}

.labelColumn > * {
    width: calc(100% - 2 * var(--theme-spacing-Half));
    padding: 0 var(--theme-spacing-Half);
}

.lastModifiedColumn {
    composes: textColumn;
}

.fileSizeColumn {
    composes: textColumn;
}

.mediaTypeColumn {
    composes: textColumn;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actionsColumn {
    composes: textColumn;
    text-align: right;
}
