.thumbnail {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.thumbnail:hover .caption {
    background-color: var(--theme-colors-PrimaryBlue);
}

.thumbnail:hover .toolBar {
    pointer-events: all;
    background-color: rgba(0.15, 0.15, 0.15, 0.35);
    backdrop-filter: blur(2px);
}

.thumbnail:hover .toolBar button {
    opacity: 1;
}

.thumbnail:hover .toolBar button[disabled] {
    opacity: 0.5;
}

.thumbnail:hover .toolBar button.button--active svg {
    color: white;
}

.picture {
    cursor: pointer;
    height: 250px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--theme-colors-assetBackground);
}

.picture img {
    display: block;
    background-image: repeating-linear-gradient(45deg, #999999 25%, transparent 25%, transparent 75%, #999999 75%, #999999), repeating-linear-gradient(45deg, #999999 25%, #e5e5f7 25%, #e5e5f7 75%, #999999 75%, #999999);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    max-height: 250px;
    max-width: 100%;
}

.caption {
    background-color: var(--theme-colors-captionBackground);
    transition: background-color var(--theme-transition-fast);
    padding: var(--theme-spacing-Half);
    display: flex;
    align-items: center;
    flex: 1;
}

.caption img, .caption svg {
    width: 1.3rem;
    height: auto;
    margin-right: var(--theme-spacing-Half);
}

.selected {
    background-color: var(--theme-colors-PrimaryBlue);
}

.toolBar {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    background-color: transparent;
    transition: background-color .1s ease-in;
}

.toolBar button,
.toolBar button[disabled] {
    transition: opacity .1s ease-in;
    opacity: 0;
}

.toolBar button.button--active {
    opacity: 1;
}

.toolBar button.button--active svg {
    color: var(--theme-colors-PrimaryBlue);
}

.label {
    position: absolute;
    top: var(--theme-spacing-Quarter);
    left: var(--theme-spacing-Quarter);
    font-size: var(--theme-fontSize-small);
    border-radius: 3px;
    padding: 2px 4px;
    user-select: none;
}

.disabled {
}

.disabled .picture {
    filter: grayscale(1);
    cursor: not-allowed;
}
