.thumbnail {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.thumbnail:hover {
    box-shadow: 0 0 0 2px rgb(255 255 255 /0.6);
}

.thumbnail:hover .toolBar {
    pointer-events: all;
    background-color: rgba(0.15, 0.15, 0.15, 0.35);
    backdrop-filter: blur(2px);
}

.thumbnail:hover .toolBar button {
    opacity: 1;
}

.thumbnail:hover .toolBar button[disabled] {
    opacity: 0.5;
}

.thumbnail:hover .toolBar button.button--active svg {
    color: white;
}

.picture {
    cursor: pointer;
    height: 250px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--theme-colors-assetBackground);
    padding: 10px 10px 0 10px;
}

.picture img {
    display: block;
    background-image: repeating-linear-gradient(45deg, #999999 25%, transparent 25%, transparent 75%, #999999 75%, #999999), repeating-linear-gradient(45deg, #999999 25%, #e5e5f7 25%, #e5e5f7 75%, #999999 75%, #999999);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    max-height: 250px;
    max-width: 100%;
}

.caption {
    background-color: var(--theme-colors-assetBackground);
    padding: var(--theme-spacing-Half);
    display: flex;
    align-items: center;
    flex: 1;
}

.caption svg {
    width: 1.3rem;
    height: auto;
    margin-right: var(--theme-spacing-Half);
}

.toolBar {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    background-color: transparent;
    transition: background-color .1s ease-in;
}

.toolBar button,
.toolBar button[disabled] {
    transition: opacity .1s ease-in;
    opacity: 0;
}

.toolBar button.button--active {
    opacity: 1;
}

.toolBar button.button--active svg {
    color: var(--theme-colors-PrimaryBlue);
}

.label {
    position: absolute;
    top: var(--theme-spacing-Quarter);
    left: var(--theme-spacing-Quarter);
    font-size: var(--theme-fontSize-small);
    border-radius: 3px;
    padding: 2px 4px;
    user-select: none;
}

.checkbox {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
}

.thumbnail:hover .checkbox,
.checkbox:checked {
    display: block;
}

.checkbox:checked {
    background-color: var(--theme-colors-PrimaryBlue);
    border-color: var(--theme-colors-PrimaryBlue);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
}

.multiSelected,
.multiSelected:hover {
    box-shadow: 0 0 0 2px var(--theme-colors-PrimaryBlue);
}

.disabled {
}

.disabled .picture {
    filter: grayscale(1);
    cursor: not-allowed;
}
