.thumbnailView {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--theme-spacing-Full);
}

.thumbnailViewInSelectionMode {
    padding-bottom: 41px;
}
