.collectionSelectBox input {
    /* Hack to override Neos backend CSS override */
    background-color: transparent !important;
    border: none !important;
}

.collectionSelectBox svg {
    align-self: center;
}
