.neos.neos-module {
    background: transparent;
    padding-bottom: var(--spacing-GoldenUnit);

    .neos-control-label {
        display: inline-block;
        margin-bottom: var(--relatedMargin);
    }

    .neos-control-label + .neos-controls {
        margin-top: 0.5rem;
    }

    .neos-controls {
        margin-bottom: 0.5rem;
    }

    .neos-controls input,
    .neos-controls textarea {
        width: 100%;
    }

    .neos-controls textarea {
        padding-block: 0.5rem !important;
        resize: vertical;
    }

    .neos-controls .neos-checkbox {
        margin-top: .5rem;
    }

    .neos-button + .neos-button {
        margin-left: 0.5rem;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    footer {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .global-scope-icon {
        display: inline-block;
        position: relative;
        margin-left: var(--relatedMargin);

        input {
            opacity: 0;
            position: absolute;
            left: -9999px;
        }

        label {
            position: relative;
            margin-left: var(--relatedMargin);
            cursor: help;
        }

        .tooltip {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            flex-direction: column;
            align-items: center;
            top: 100%;
            width: max-content;

            .tooltip-arrow {
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #141414;
                position: relative;
            }

            .tooltip-inner {
                padding: 8px;
                background: #141414;
                color: #fff;
                overflow-wrap: break-word;
                position: relative;
                box-shadow: 0 0 10px #7d7d7d33;
            }
        }

        input:checked ~ .tooltip {
            display: flex;
        }
    }
}


:global(::-webkit-scrollbar) {
    width: 4px;
    height: 4px;
}

:global(::-webkit-scrollbar-track) {
    background: transparent;
}

:global(::-webkit-scrollbar-thumb) {
    background-color: #999;
}

:global(::-webkit-scrollbar-corner) {
    background-color: var(--grayLight);
}
