html {
    height: 100%;
}

.neos.neos-module {
    background: transparent;
    margin: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    max-height: 100%;
    height: 100%;
    gap: var(--defaultMargin);

    .neos-control-group {
        position: relative;
    }

    .neos-control-label {
        display: inline-block;
        margin-bottom: var(--relatedMargin);
    }

    .neos-control-label + .neos-controls {
        margin-top: 0.5rem;
    }

    .neos-controls {
        margin-bottom: 0.5rem;

        input, textarea {
            &[disabled] {
                cursor: not-allowed;
                color: rgb(from #fff r g b /.5);
            }
        }

        .neos-checkbox:has([disabled]) {
            cursor: not-allowed;

            span, span::before {
                cursor: not-allowed;
            }
        }
    }

    .neos-controls input,
    .neos-controls textarea {
        width: 100%;
    }

    .neos-controls textarea {
        padding-block: 0.5rem !important;
        resize: vertical;
    }

    .neos-controls .neos-checkbox {
        margin-top: .5rem;
    }

    .neos-button + .neos-button {
        margin-left: 0.5rem;
    }

    main {
        overflow: auto;

        .metadata-editor-single {
            overflow-y: auto;
            max-width: 100%;
        }
    }

    .metadata-editor-tabs {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        max-width: 100%;

        > details {
            display: contents;

            > div {
                order: 1;
                padding: 0.75rem;
                border: 1px solid var(--grayLight);
                background: var(--grayDark);
                overflow: auto;
            }

            &[open]::details-content {
                order: 1;
                width: 100%;
            }
        }

        summary {
            order: 0;
            position: sticky;
            top: 0;
            z-index: 2;
            display: block;
            cursor: pointer;
            padding: 0.5rem 0.75rem;
            border: 1px solid var(--grayMedium);
            border-bottom: none;
            border-radius: 0.25rem 0.25rem 0 0;
            color: var(--textSubtleLight);
            background-color: var(--grayDark);

            &::-webkit-details-marker,
            &::marker {
                display: none;
            }

            [open] > & {
                pointer-events: none;
                z-index: 3;
                margin-bottom: -1px;
                border-color: var(--grayLight);
                color: #fff;
            }
        }
    }

    footer {
        flex-shrink: 0;
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        padding-top: var(--defaultMargin);
        border-top: 1px solid var(--grayLight);
        background: var(--grayDark);
    }

    .global-scope-icon {
        display: inline-block;
        margin-left: var(--relatedMargin);

        input {
            opacity: 0;
            position: absolute;
            left: -9999px;
        }

        label {
            margin-left: var(--relatedMargin);
            cursor: help;
        }

        .tooltip {
            display: none;
            position: absolute;
            top: 1rem;
            left: 2px;
            width: max-content;
            max-width: calc(100% - 4px);

            .tooltip-arrow {
                width: 0;
                height: 0;
                z-index: 1;
                margin-left: 2rem;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #141414;
                position: relative;
            }

            .tooltip-inner {
                padding: 8px;
                background: #141414;
                color: #fff;
                overflow-wrap: break-word;
                position: relative;
                box-shadow: 0 0 10px #7d7d7d33;
            }
        }

        input:checked ~ .tooltip {
            display: block;
        }
    }
}


:global(::-webkit-scrollbar) {
    width: 4px;
    height: 4px;
}

:global(::-webkit-scrollbar-track) {
    background: transparent;
}

:global(::-webkit-scrollbar-thumb) {
    background-color: #999;
}

:global(::-webkit-scrollbar-corner) {
    background-color: var(--grayLight);
}
