html,
body {
    min-height: 100%;
    height: auto;
    background: var(--grayDark);
}

.neos.neos-module {
    background: var(--grayDark);

    .neos-control-label + .neos-controls {
        margin-top: 0.5rem;
    }

    .neos-controls {
        margin-bottom: 0.5rem;
    }

    .neos-controls input,
    .neos-controls textarea {
        width: 100%;
    }

    .neos-controls textarea {
        padding-block: 0.5rem !important;
        resize: vertical;
    }
    .neos-controls .neos-checkbox {
        margin-top: .5rem;
    }

    .neos-button + .neos-button {
        margin-left: 0.5rem;
    }
}
