/**
 * Define theme variables by using the ones provided by Neos with a fallback to the default values.
 */
.mediaModuleTheme {
    /**
     * Neos variables
     */
    --theme-grayDarker: var(--grayDarker, #141414);
    --theme-grayDark: var(--grayDark, #222);
    --theme-grayMedium: var(--grayMedium, #323232);
    --theme-grayLight: var(--grayLight, #3f3f3f);
    --theme-grayLighter: var(--grayLighter, #eee);
    --theme-textOnWhite: var(--textOnWhite, #252525);
    --theme-textContrast: var(--textContrast, #2d2d2d);
    --theme-textOnGray: var(--textOnGray, #fff);
    --theme-textSubtle: var(--textSubtle, #5b5b5b);
    --theme-textSubtleLight: var(--textSubtleLight, #adadad);
    --theme-blue: var(--blue, #00b5ff);
    --theme-blueLight: var(--blueLight, #39c6ff);
    --theme-blueDark: var(--blueDark, #007fb2);
    --theme-green: var(--green, #00a338);
    --theme-warning: var(--warning, #ff460d);
    --theme-orange: var(--orange, #ff8700);

    --theme-colors-PrimaryViolet: var(--colors-PrimaryViolet, #26224c);
    --theme-colors-PrimaryVioletHover: var(--colors-PrimaryVioletHover, #342f5f);
    --theme-colors-PrimaryBlue: var(--colors-PrimaryBlue, #00adee);
    --theme-colors-PrimaryBlueHover: var(--colors-PrimaryBlueHover, #35c3f8);
    --theme-colors-ContrastDarkest: var(--colors-ContrastDarkest, var(--grayDarker));
    --theme-colors-ContrastDarker: var(--colors-ContrastDarker, var(--grayDark));
    --theme-colors-ContrastDark: var(--colors-ContrastDark, var(--grayLight));
    --theme-colors-ContrastNeutral: var(--colors-ContrastNeutral, var(--grayMedium));
    --theme-colors-ContrastBright: var(--colors-ContrastBright, #999);
    --theme-colors-ContrastBrighter: var(--colors-ContrastBrighter, var(--textSubtleLight));
    --theme-colors-ContrastBrightest: var(--colors-ContrastBrightest, var(--textOnGray));
    --theme-colors-Success: var(--colors-Success, var(--green));
    --theme-colors-SuccessHover: var(--colors-SuccessHover, #0bb344);
    --theme-colors-Warn: var(--colors-Warn, var(--orange));
    --theme-colors-WarnHover: var(--colors-WarnHover, #fda23d);
    --theme-colors-Error: var(--colors-Error, var(--warning));
    --theme-colors-ErrorHover: var(--colors-ErrorHover, #ff6a3c);
    --theme-colors-UncheckedCheckboxTick: var(--colors-UncheckedCheckboxTick, var(--textSubtle));

    --theme-spacing-GoldenUnit: var(--spacing-GoldenUnit, 40px);
    --theme-spacing-Full: var(--spacing-Full, 16px);
    --theme-spacing-Half: var(--spacing-Half, 8px);
    --theme-spacing-Quarter: var(--spacing-Quarter, 4px);

    --theme-unit: var(--unit, 40px);
    --theme-defaultMargin: var(--defaultMargin, 16px);
    --theme-relatedMargin: var(--relatedMargin, 8px);
    --theme-tightMargin: var(--tightMargin, 4px);
    --theme-wideMargin: var(--wideMargin, 32px);

    --theme-fontSize-base: 14px;
    --theme-fontSize-small: 12px;

    --theme-transition-fast: 0.1s;
    --theme-transition-default: 0.25s;
    --theme-transition-slow: 0.5s;

    /**
     * Media module specific media variables
     */
    --theme-colors-border: var(--theme-colors-ContrastDark);
    --theme-colors-alternatingBackground: var(--theme-colors-ContrastDark);
    --theme-colors-inactive: var(--theme-colors-ContrastBright);

    --theme-zIndex-pagination: 10022;
    --theme-zIndex-lightbox: 10023;
    --theme-zIndex-loadingIndicator: 10024;
}
