.sortingState {
    display: flex;
    min-width: 0;
}

.selectBox {
    min-width: 0;
    display: flex;
    background: var(--colors-ContrastDark);
}

.sortingOrder {
    background: var(--colors-ContrastDark);
}
