.viewModeSelector {
    display: flex;
    align-items: baseline;
}

.viewModeSelector button {
    background: var(--colors-ContrastDark);
}

.viewModeSelector label {
    margin-right: var(--theme-spacing-Quarter);
}

.selectBox {
    min-width: auto;
}
