.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 0.846em;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999;
    border-radius: 3px;
}

.badge:empty {
    display: none;
}

.success {
    background-color: #46a546;
}

.info {
    background-color: #00adee;
}

.warning {
    background-color: #f89406;
}

.error {
    background-color: #ff460d;
}

.inverse {
    background-color: #3f3f3f;
}
